<%-include('./blogHeader.ejs')%>
<%-include('./slider.ejs')%>

<!-- main body starts -->
<div class="container">
    <h1 class="text-center mt-3 mb-3 headingText"><i class="fa-solid fa-people-group"></i> Our Team</h1>
    <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
                <div class="col-md-4">
                    <center>
                        <img src="/images/userImage.png" class="w-50" alt="">
                        <h4 class="text-center">Member Name</h4>
                        <p class="text-center">Role</p>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        <img src="/images/userImage.png" class="w-50" alt="">
                        <h4 class="text-center">Member Name</h4>
                        <p class="text-center">Role</p>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        <img src="/images/userImage.png" class="w-50" alt="">
                        <h4 class="text-center">Member Name</h4>
                        <p class="text-center">Role</p>
                    </center>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col-md-4">
                    <center>
                        <img src="/images/userImage.png" class="w-50" alt="">
                        <h4 class="text-center">Member Name</h4>
                        <p class="text-center">Role</p>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        <img src="/images/userImage.png" class="w-50" alt="">
                        <h4 class="text-center">Member Name</h4>
                        <p class="text-center">Role</p>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        <img src="/images/userImage.png" class="w-50" alt="">
                        <h4 class="text-center">Member Name</h4>
                        <p class="text-center">Role</p>
                    </center>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col-md-4">
                    <center>
                        <img src="/images/userImage.png" class="w-50" alt="">
                        <h4 class="text-center">Member Name</h4>
                        <p class="text-center">Role</p>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        <img src="/images/userImage.png" class="w-50" alt="">
                        <h4 class="text-center">Member Name</h4>
                        <p class="text-center">Role</p>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        <img src="/images/userImage.png" class="w-50" alt="">
                        <h4 class="text-center">Member Name</h4>
                        <p class="text-center">Role</p>
                    </center>
                </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev"><i class="fa-solid fa-chevron-left text-black fs-30px"></i>
          <span class="carousel-control-prev-icon d-none" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next"><i class="fa-solid fa-chevron-right text-black fs-30px"></i>
          <span class="carousel-control-next-icon d-none" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- main body ends -->

<%-include('./blogFooter.ejs')%>