<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="/admin/dashboard"><i class="fa-solid fa-gauge"></i> Dashboard</a>
    <a href="/admin/blog"><i class="fa-solid fa-square-rss"></i> Add New Blog</a>
    <a href="/admin/blogList"><i class="fa-solid fa-list"></i> Blog List</a>
    <a href="/admin/category"><i class="fa-solid fa-clipboard"></i> Add New Category</a>
    <a href="/admin/categoryList"><i class="fa-solid fa-table-list"></i> Category List</a>
    <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
</div>